go 1.20

use (
	./DataStructures/Basic/Array/Leaders-in-Array
	./DataStructures/Basic/Array/Longest-increasing-subarray
	./DataStructures/Basic/Array/Max-sum-with-no-2-adj-elements
	./DataStructures/Basic/Array/Smallest-subarray-with-atleast-given-sum
	./DataStructures/Basic/LinkedLists/Add-2-number-in-list
	./DataStructures/Basic/LinkedLists/rev-list-in-k-group
	./DataStructures/Basic/Queues
	./DataStructures/Basic/Stacks
	./DataStructures/Basic/String/Check-if-subsequence
)
